<!--The content below is only a placeholder and can be replaced.-->
<!-- header -->
<nav class="navbar">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://i.ibb.co/Ss216Sw/3-Allianz-i-Essential-Cover-1000x450.jpg">
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- footer -->
<span >&nbsp;&nbsp;</span>
<footer class="footer" >
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Copyright@ by Allianz
      </p>
    </div>
  </div>
</footer>
